<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.chaoba.rxjavademo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.FlowableActivity"
            android:label="@string/title_activity_Flowable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.NullActivity"
            android:label="@string/title_activity_Null">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="cn.com.chaoba.rxjavademo.category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.SingleActivity"
            android:label="@string/title_activity_single">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.MaybeActivity"
            android:label="@string/title_activity_single">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".subscriber.ResourceSubscriberActivity"
            android:label="@string/title_activity_resource_subscriber">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".subscriber.DefaultSubscriberActivity"
            android:label="@string/title_activity_default_subscriber">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".subscriber.DisposableSubscriberActivity"
            android:label="@string/title_activity_disposable_subscriber">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
