<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="cn.com.chaoba.rxjavademo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.CreateAndRangeActivity"
            android:label="@string/title_activity_create">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.DeferAndJustActivity"
            android:label="@string/title_activity_defer"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.FromActivity"
            android:label="@string/title_activity_from"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.IntervalActivity"
            android:label="@string/title_activity_interval"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".creatingobserver.RepeatAndTimerActivity"
            android:label="@string/title_activity_repeat"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".transforming.BufferActivity"
            android:label="@string/title_activity_buffer"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".transforming.FlatMapActivity"
            android:label="@string/title_activity_flat_map"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".transforming.GroupbyActivity"
            android:label="@string/title_activity_groupby"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".transforming.MapAndCastActivity"
            android:label="@string/title_activity_map"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".transforming.ScanActivity"
            android:label="@string/title_activity_scan"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".transforming.WindowActivity"
            android:label="@string/title_activity_window"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".filtering.DebounceActivity"
            android:label="@string/title_activity_debounce"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".filtering.DistinctActivity"
            android:label="@string/title_activity_distinct"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".filtering.ElementAtAndFilterActivity"
            android:label="@string/title_activity_element_at_and_first"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".filtering.FirstActivity"
            android:label="@string/title_activity_fitst"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".filtering.SkipAndTakeActivity"
            android:label="@string/title_activity_skip_and_take"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".filtering.SampleActivity"
            android:label="@string/title_activity_sample"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="cn.com.chaoba.rxjavademo.category"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
